body {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .datebox {
    display: flex;
    flex-direction: column;
    font-size: 28px;
  }

  .dateinput {
    text-align: center;
  }

  #message {
    text-align: center;
    color: RED;
  }